
@import './variables.css';


.main-content{
  align-items: center;
}
.Titulo-Formulario{
  border-radius: 12px;
  border-color: var(--bahama-blue-700);
  background-color: var(--bahama-blue-300);
  width: 50%;
  align-items: center;
}

.Desc-Formulario{
  border-radius: 12px;
  border-color: var(--bahama-blue-700);
  background-color: var(--bahama-blue-300);
  width: 50%;
  align-items: center;
}

.formularioBto {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

.preguntaBto {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 10px;
}

.opcionBto {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.opcionBto input {
  margin-right: 10px;
}

.cajaBto {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 10px;
}

.respuesta-caja{
  resize: none;
  border-radius: 12px;
  border-color: var(--bahama-blue-700);
  background-color: var(--bahama-blue-300);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.radio-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.radio-label input {
  margin-right: 5px; /* Adjust this margin to your preferred spacing */
}
