:root {
    --bahama-blue-50: #f0f9ff;
    --bahama-blue-100: #dff2ff;
    --bahama-blue-200: #b9e7fe;
    --bahama-blue-300: #7bd6fe;
    --bahama-blue-400: #34c1fc;
    --bahama-blue-500: #0aaaed;
    --bahama-blue-600: #0088cb;
    --bahama-blue-700: #00689e;
    --bahama-blue-800: #055c87;
    --bahama-blue-900: #0a4b70;
    --bahama-blue-950: #07304a;
  }
